* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

}

body {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Links {
    /*nav bar*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* border: solid red 1px; */
    width: 100vw;
    font-family: Inter;
}

.Links_div>p {
    /*Selecting the nav bar middle elements*/
    font-family: Inter;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.Links_div {
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
    gap: 20px;

    @media (max-width: 700px) {
        gap: 18px;
        font-size: 15px;
        background-color: red;
        /* font-family: Inter; */
    }
}

.Links>p {
    font-size: 30px;
    font-weight: 800;
    background: -webkit-linear-gradient(180deg, #EF05D8, #00A0FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20px;
}

.Links>input {
    height: 46px;
    width: min(20vw, 113px);
    border: none;
    border-radius: .5rem;
    margin-right: 20px;
    font-size: large;
    background-color: #2ABDA3;
}

.Sml_intro {
    font-family: Inter;
    margin-top: 56px;
    height: auto;
    width: min(50vw, 576px);
    /* background-color: aqua; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* gap: 40px; */

    @media (max-width: 700px) {
        font-family: Inter;
        /* gap: 25px; */
        height: min(30vh, 298px);
        width: min(60vw, 576px);
    }
}

.Sml_intro_p1_1,
.Sml_intro_h2_1,
.Sml_intro_h2_2,
.Sml_intro_p1_2 {
    margin-bottom: 30px;
}

.Sml_intro_h2_1 {
    font-family: Inter;
    font-weight: 900;
    font-size: 4rem;
    color: #000;
}

.Sml_intro_h2_2 {
    background: -webkit-linear-gradient(180deg , #EF05D8, #00A0FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
    font-size: 4rem;
    font-family: Inter;
    font-weight: 900;
}

.Sml_intro_p_2 {
    color: #000;
    font-size: 11px;
}
.Sml_intro_p1_1{
    color: #000;
    font-size: 11px;
    font-weight: 800;
}